.app-title {
  width: 50%;
  padding: 20px;
  align-items: center;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-logo {
  width: 350px;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .app-logo {
    height: 12%;
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .app-logo {
    height: 8%;
    width: auto;
  }
}
